# generic
.DS_Store
.fleet
.idea
.vscode
.zed

# node
/node_modules

# environment files and secrets
/.env
/.secrets

# compiled files
/dist

# playwright
/test-results

# icons
/public/*icon*
/public/icons

# og
/public/social

# temporary
/package-lock.json
