# generic
.DS_Store
.fleet
.idea
.vscode
.zed
.antigravitycli

# node
/node_modules

# environment files and secrets
/.env
/.secrets

# compiled files
/dist
/generated
/tmp

# playwright
/test-results

# temporary
/package-lock.json
